page-guide {
    ion-card {
        position: relative;
        text-align: left;
        padding-bottom: 5px;
        //border-bottom: 1px solid #488aff;
        //border-top: 8px solid #488aff;
      }
    
      .card-title {
        position: relative;
        font-size: 15px;
        width: 100%;
        font-weight: 500;
        color: #676060;
        padding-left:6px; 
      }
    
      .card-subtitle{
        padding-left:6px; 
        font-size: 12px;
        width: 100%;
        color: #676060;
      }
      .card-background {
        background-color:white;
        border-radius: 7px 7px 7px 7px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
        padding: 3px;
      }

      .uprofile-image{
        border-radius: 50%;
        width: 35px;
        height:35px;
        border: 1px solid   #FF355A;
      }
      .online-image{
        border: 3px solid   #32CD32;
      }
      .offline-image{
        border: 3px solid   #A9A9A9;
      }
    
}
